/* ------ New Navigation Section ---------- */

body {
margin: 0;
padding: 0;
height: 100%;
}

nav ul h1 {
    float: left;
    color: white;
    margin: 0;
}

.logo {
   float: left;
   height: 62px;
   width: 155px;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: inline-block;
    text-align: right;
    width: 100%; 
    font-size: 17px;
}

nav ul li {
    display: inline-block;
    height: 62px;
    margin: 0;   
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
    height: 62px;
    padding: 21px 14px 21px 16px;
}

nav ul li a:hover {
    background-color: #333;
}

/* ------End of New Navigation Section ----------  */

/* ----- Footer Section Below ----- */



footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: inline-block;
    text-align: center;
    width: 100%; 
    font-size: 15px;
    color: white;
    position: absolute;
}

footer ul li {
    display: inline-block;
    height: 62px;
    margin: 20px 0 -21px 0;   
    padding: 0px 14px 0 14px;
    overflow: hidden;
    text-align: center;
}

footer ul li a {
    display: block;
    color: white;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
  
}

footer ul li a:hover {
    text-decoration: underline;
}

#copyright {
    background-color: #4a4e92;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



/* ------------ Home/Index page below -------------*/

#header {
text-align: center;
padding: 20px 0 20px 0;
}

#header img {
height: 300px;
width: 700px;
}


#civicus {
text-align: center;
}

#descrip {
text-align: center;
}



#services {
text-align: center;
margin: auto;

}

#services h3 {
    text-align: center;
}

#geo {
background-color: green;
padding: 0 40px 0 40px;
margin-right: 30px;
display: inline-block;
text-align: left;
}

#survey {
background-color: yellow;
padding: 20px 40px 0 40px;
margin-right: 30px;
display: inline-block;
text-align: left;
}

#struct {
background-color: blue;
text-align: left;
padding: 20px 40px 0 40px;
display: inline-block;
}


/*.....................About Us page below...........*/


#descrip2 {
margin: 0 200px 0 200px;
background-color: green;
}

#descrip2 img {
height: 300px;
width: 600px;
margin: auto;
display: block;

}

#aboutus {
text-align: center;
}




/*.....................Contact page below...........*/
form {
    margin: auto;
    text-align: center;
}

#form1 {
    width: 700px;
    margin: auto;
}

#form1 h3 {
    text-align: center;
}

/*.....................Portfolio page below...........*/

.portfoliohead {
    text-align: center;
}

#portcontain {
    width: 700px;
    text-align: center;
    /*background-color: lightblue;*/
    margin: auto;
}

#pro1 {
    text-align: left;
}

#pro2 {
    text-align: left;
}

#pro3 {
    text-align: left;
}


