* {
    font-family: Sans-Serif, Serif, "Times New Roman"
}

body {
margin: 0;
padding: 0;
height: 100%;
}

/* ------ New Navigation Section ---------- */

nav ul h1 {
    float: left;
    color: white;
    margin: 0;
}

.logo {
   float: left;
   height: 62px;
   width: 155px;  
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: inline-block;
    text-align: right;
    width: 100%; 
    font-size: 17px;
}

nav ul li {
    display: inline-block;
    height: 62px;
    margin: 0;   
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    margin-right: 15px;
    text-decoration: none;
    height: 62px;
    padding: 21px 14px 21px 16px;
}

nav ul li a:hover {
    background-color: #333;
}

/* ------End of New Navigation Section ----------  */
/* ----- new footer ----- */

#footeritems {
    margin: 0;
    padding: 0;
}

#footeritems ul {
list-style-type: none;
background-color: black;
padding: 15px 0 15px 0;
text-align: center;
margin: 0;
}

#footeritems ul li {
    display: inline-block;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

#footeritems ul li a {
    color: white;
    text-decoration: none;
}

#footeritems ul p {
    display: inline-block;
    color: white;
}

#footeritems ul li a:link {
    color: white;
}

#footeritems ul li a:visited {
    color: white;
}

#footeritems ul li a:hover {
    color: white;
    text-decoration: underline;
}

#legal {
    background-color: rgba(23, 23, 23, 0.96);;
    color: white;
    margin: 0;
    padding: 10px 0px 10px 0;
}



#legal p {
    display: inline;
    text-align: left;
    color: white;
    padding-left: 5px;
    font-size: 15px;
}

#legal a {
    color: white;
    float: right;
    text-decoration: none;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
    font-size: 15px;
}

#legal a:link {
    color: white;
}

#legal a:visited {
    color: white;
}

#legal a:hover {
    color: white;
    text-decoration: underline;
}
/* ----- End of New footer ----- */
/* ------------ Home/Index page below -------------*/

#header {
text-align: center;
padding: 20px 0 20px 0;
}

#header img {
height: 300px;
width: 700px;
}

#header figcaption {
    text-align: right;
    width: 700px;
    margin: auto;
}

#civicus {
text-align: center;
}

#descrip {
text-align: center;
}



#services {
text-align: center;
margin: auto;

}

#services h3 {
    text-align: center;
}

#geo {
background-color: green;
padding: 0 40px 0 40px;
margin-right: 30px;
display: inline-block;
text-align: left;
}

#survey {
background-color: yellow;
padding: 20px 40px 0 40px;
margin-right: 30px;
display: inline-block;
text-align: left;
}

#struct {
background-color: blue;
text-align: left;
padding: 20px 40px 0 40px;
display: inline-block;
}


/*.....................About Us page below...........*/


#descrip2 {
margin: 0 200px 0 200px;
}

#aboutus {
text-align: center;
}

#descrip2 img {
height: 300px;
width: 600px;
margin: auto;
display: block;
}

#descrip2 figcaption {
    text-align: right;
    margin: auto;
    width: 600px;
}





/*.....................Contact page below...........*/
form {
    margin: auto;
    text-align: center;
}

#form1 {
    width: 700px;
    margin: auto;
}

#form1 h3 {
    text-align: center;
}

/*.....................Portfolio page below...........*/

.portfoliohead {
    text-align: center;
}

#portcontain {
    width: 700px;
    text-align: center;
    /*background-color: lightblue;*/
    margin: auto;
}

#portcontain h3 {
    text-align: center;
}

#pro1 {
    text-align: left;
}



#pro2 {
    text-align: left;
}

#pro2 img {
    height: 230px;
    width: 500px;
    display: block;
    margin: auto;
}

#pro2 figcaption {
    text-align: right;
    width: 500px;
    margin: auto;
}

#pro2 figcaption a:link {
    text-decoration: none;
}

#pro2 figcaption a {
color: blue;
}

#pro2 figcaption a:visited {
    color: blue;
}

#pro2 figcaption a:hover {
    text-decoration: underline;
}



#pro3 {
    text-align: left;
}

#pro3 img {
    height: 230px;
    width: 500px;
    display: block;
    margin: auto;
}

#pro3 figcaption {
    text-align: right;
    width: 500px;
    margin: auto;
}


