
/* ------------ Navigation Menu below -------------*/

body {
margin: 0;
padding: 0;
height: 100%;
}

/* original settings
.nav {
list-style: none;
text-align: center;
padding: 20px 0 20px 0;
background-color: #6B8184;
margin: 0;
}

.nav li {
display:inline;
padding: 0 30px 0 30px;
font-size: 20px;
}
*/



.logo {
    height: 62px;
    width: 155px;
    float: left;   
}


.logobox {
    margin: 0;
    padding: 0;
    display: inline;
}

.nav {
list-style: none;
text-align: right;
padding: 20px 0 20px 0;
background-color: #6B8184;
padding-right: 290px;
margin: 0;

}

.nav li {
display: inline;
padding: 0 30px 0 30px;
font-size: 20px;
}

.nav li a {
    text-decoration: none;
}

.nav li a:link {
color: white;
}

.nav li a:visited {
color: white;
}

.nav li a:hover {
text-decoration: underline;
color: white;
}

/* ------------ Home/Index page below -------------*/

#header {
text-align: center;
padding: 20px 0 20px 0;
}

#header img {
height: 300px;
width: 700px;
}


#civicus {
text-align: center;
}

#descrip {
text-align: center;
}



#services {
text-align: center;
margin: auto;

}

#services h3 {
    text-align: center;
}

#geo {
background-color: green;
padding: 0 40px 0 40px;
margin-right: 30px;
display: inline-block;
text-align: left;
}

#survey {
background-color: yellow;
padding: 20px 40px 0 40px;
margin-right: 30px;
display: inline-block;
text-align: left;
}

#struct {
background-color: blue;
text-align: left;
padding: 20px 40px 0 40px;
display: inline-block;
}


/*.....................About Us page below...........*/


#descrip2 {
margin: 0 200px 0 200px;
background-color: green;
}

#descrip2 img {
height: 300px;
width: 600px;
margin: auto;
display: block;

}

#aboutus {
text-align: center;
}




/*.....................Contact page below...........*/
form {
    margin: auto;
    text-align: center;
}

#form1 {
    width: 700px;
    margin: auto;
}

#form1 h3 {
    text-align: center;
}

/*.....................Portfolio page below...........*/

.portfoliohead {
    text-align: center;
}

#portcontain {
    width: 700px;
    text-align: center;
    background-color: lightblue;
    margin: auto;
}

#pro1 {
    text-align: left;
}

#pro2 {
    text-align: left;
}

#pro3 {
    text-align: left;
}


